.page_body {
    background: #eee;
    padding: 10px;
}

.btn {
    margin: 0 5px;
}
#root {
    height: 100%;
    background: #eeeeee;
}

.homepage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #eeeeee;
    /*padding: 0 5px;*/
}

.header_section {
    width: 100%;
    height: 75%;
    position: relative;
    background-image: url("/img/img2.jpg");
    background-position: center;
    background-size: cover;
    /*flex: 2;*/
    color: #ffffff;
}

.header_section::before {
    content: "";
    background: rgba(0, 0, 0, 0.65);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    /*z-index: -1;*/
}

.header_section__content {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainPage, .homepage__content, .header_section__content,  .homepage {
    height: 100%;
    padding-bottom: 15px;
}

.foot_menu {
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent;
    z-index: 500;
}